@tailwind base;
@tailwind components;
@tailwind utilities;

.submission-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  border: 1px solid #ccc;
  padding: 16px;
  width: 400px;
 
  border-radius: 8px;
}

